<template>
    <div>
        <navbar />
        <div class="pb-5 pt-5 container-lg">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
  import Navbar from './layouts/Navbar'
  export default {
    components: {
      Navbar
    },
  }
</script>