<template>
  <div>
    <table class="mt-2 table table-striped table-black table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Storage Locations</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in items" v-bind:key="item.id">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.category.title }}</td>
                <td>
                    {{ Object.values(item.storage_locations).map(sl => { 
                        return sl.title 
                    }).join(', ') }}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        items: [],
      }
    },
    mounted() {
        this.getItems()
    },
    methods: {
        getItems(){
            this.$api.post('/products')
            .then(res => {
                this.items = res.data.data.products
            })
            .catch(err => {
                console.log(err)
            })
        },
    },
  }
</script>