<template>
<div class="card mx-auto" style="max-width: 20rem">
  <div class="card-body">
    <form @submit="onSubmit">
      <div class="text-sm text-danger" v-if="error">
        {{ error }}
      </div>
      <div class="form-group">
        <label for="name">Enter name</label>
        <input v-model="form.name" class="form-control" id="name" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="password">Enter password</label>
        <input v-model="form.password" type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          name: '',
          password: '',
        },
        error: ''
      }
    },
    methods: {
      onSubmit(event) {
        event.preventDefault()
        this.error = ''

        let formdata = new FormData();
        formdata.append("name", this.form.name);
        formdata.append("password", this.form.password);

        this.$api.post('/login', formdata)
        .then(res => {
          this.$store.commit('setAuthToken', res.data.data.token)
          this.$router.push({name: "catalog"})
        })
        .catch(err => {
          console.log(err.response)
          this.error = err.response.data.message
        })
      },
    }
  }
</script>