<template>
  <div>
    <router-link exact-active-class="active" class="btn btn-primary btn-sm" :to="{ name: 'admin.products.create' }">Create</router-link>
    <table class="mt-2 table table-striped table-black table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Storage Locations</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in items" v-bind:key="item.id">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.category.title }}</td>
                <td>
                    {{ Object.values(item.storage_locations).map(sl => { 
                        return sl.title 
                    }).join(', ') }}
                </td>
                <td>
                    <router-link class="btn btn-primary btn-sm" :to="{ name: 'admin.products.update', params: {'id': item.id} }">Update</router-link>
                    <button class="btn btn-secondary btn-sm" @click="del(item.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        items: [],
      }
    },
    mounted() {
        this.getItems()
    },
    methods: {
        getItems(){
            this.$api.post('/admin/products')
            .then(res => {
                this.items = res.data.data.products
            })
            .catch(err => {
                console.log(err)
            })
        },
        del(id) {
            this.$api.post(`/admin/products/${id}/delete`)
            .catch(err => {
                console.log(err)
            })
            this.getItems();
        },
    },
  }
</script>