<template>
<div class="card mx-auto" style="max-width: 20rem">
  <div class="card-body">
    <form @submit="onSubmit">
      <div class="text-sm text-danger" v-if="error">
        {{ error }}
      </div>
      <div class="form-group">
        <label for="title">Enter title</label>
        <input v-model="form.title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="title">Choose Category</label>
        <v-select v-model="form.category" :options="category_options" />
      </div>
      <div class="form-group">
        <label for="title">Choose Storage Location</label>
        <v-select multiple v-model="form.storage_location" :options="storage_location_options" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</template>

<script>
  export default {
    props: [
      'id' 
    ],
    data() {
      return {
        form: {
          id: '',
          name: '',
          category: '',
          storage_location: [],
        },
        category_options: [],
        storage_location_options: [],
        error: ''
      }
    },
    mounted() {
        this.$api.post('/admin/categories')
        .then(res => {
            let categories = res.data.data.categories
            categories.map((category) => {
                this.category_options.push({
                    label: category.title,
                    value: category.id
                })
            })
        })
        .catch(err => {
          console.log(err)
        })
        
        this.$api.post('/admin/storage_locations')
        .then(res => {
            let storage_locations = res.data.data.storage_locations
            storage_locations.map((storage_location) => {
                this.storage_location_options.push({
                    label: storage_location.title,
                    value: storage_location.id
                })
            })
        })
        .catch(err => {
          console.log(err)
        })

        this.$api.post(`/admin/products/${this.id}/read`)
        .then(res => {
            let product = res.data.data.product

            this.form.id = product.id
            this.form.title = product.title
            this.form.category = this.category_options.find(option => option.value == product.category_id)
            this.form.storage_location = this.storage_location_options.filter(option => !!product.storage_locations.map(sl => Object.values(sl.id)[0]).find(id => id == option.value))
        })
        .catch(err => {
          console.log(err)
        })
    },
    methods: {
      onSubmit(event) {
        event.preventDefault()
        this.error = ''

        let formdata = new FormData();
        formdata.append("title", this.form.title);
        formdata.append("category_id", this.form.category.value);
        this.form.storage_location.map((sl) => {
            formdata.append("storage_location_ids[]", sl.value)
        });

        this.$api.post(`/admin/products/${this.id}/update`, formdata)
        .then(res => {
            this.$router.push({name: "admin.products.list"})
        })
        .catch(err => {
          console.log(err)
          this.error = err.response.data.message
        })
      },
    }
  }
</script>