<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <router-link exact-active-class="active" class="nav-link" :to="{ name: 'catalog' }">Catalog</router-link>
      <router-link v-if="auth" exact-active-class="active" class="nav-link" :to="{ name: 'admin.products.list' }">Products</router-link>
      <router-link v-if="!auth" exact-active-class="active" class="nav-link" :to="{ name: 'login' }">Login</router-link>
      <a type="button" v-if="auth" v-on:click="logout" class="nav-link">Logout</a>
    </ul>
  </div>
</nav>
</template>

<script>
export default {
  cumputed: {
    auth() {
      return !!this.$store.state.authToken;
    },
  },
  methods: {
    logout(event) {
      event.preventDefault()
      this.$store.commit('setAuthToken', null)
      this.$router.push({name: "login"})
    },
  }
}
</script>